html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

@font-face {
  font-family: immortal;
  src: url(../fonts/IMMORTAL.ttf);
}
header {
  font-family: sans-serif;
  width: 100%;
  background-color: #8e673e;
  background: url(../img/legolas.jpg);
  background-repeat: 50% 50%;
  background-attachment: scroll;
  background-position: center;
  position: relative;
  text-align: center;
  justify-content: center;
}
header h1 {
  padding: 20% 0 0 0;
  font-size: 8em;
  letter-spacing: 0.1em;
  color: #080503;
  font-family: immortal;
}
header p {
  font-family: sans-serif;
  letter-spacing: 5px;
  padding: 10px 15px;
  font-size: 1.8em;
  color: #ccc;
  line-height: 1.2em;
  margin-top: 3em;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.35) 10%, rgba(0, 0, 0, 0.35) 90%, transparent);
  text-shadow: 1px 1px 3px black;
}

@media (max-width: 910px) {
  header {
    background-image: url(../img/legolas_small.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top;
  }
  header h1 {
    padding: 20% 0 0 0;
    font-size: 4em;
  }
  header p {
    margin-top: 6em;
    font-size: 1.4em;
    line-height: 1em;
  }
}
.navbar {
  position: fixed;
  width: 100%;
  height: 5em;
  z-index: 10;
}
.navbar ul {
  position: relative;
  height: 100%;
  list-style: none;
  transition: 1s;
}
.navbar li {
  position: relative;
  display: inline-block;
  padding: 1.85em 1.5em;
}
.navbar li a {
  color: #080503;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  padding: inherit;
  font-family: immortal;
}

nav.scrolled ul {
  background-color: #080503;
}
nav.scrolled ul li a {
  color: #8e673e;
  padding: inherit;
}

li.active {
  transition: 1s;
}
li.active::before {
  content: "";
  width: 90%;
  height: 0.3em;
  background-color: #8e673e;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.65em;
  transition: 0.5s ease;
}

.navbtn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2em;
  height: 2.5em;
}

.navbtn .line {
  height: 0.5em;
  width: 100%;
  background-color: #8e673e;
}

@media (max-width: 910px) {
  .navbar {
    height: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .navbtn {
    display: flex;
  }
  .navbar .navlinks {
    display: none;
    width: 100%;
    justify-content: center;
    background-color: #080503;
  }
  .navbar .navlinks ul {
    display: flex;
    flex-direction: column;
  }
  .navbar .navlinks ul li {
    padding: 0.85em 1.5em;
    text-align: center;
  }
  .navbar .navlinks ul li a {
    font-size: 1em;
    padding: 0.5em 0.1em;
    color: #8e673e;
  }
  .navbar .navlinks.navshow {
    display: flex;
  }
}
footer {
  padding: 2em 0;
  background-color: #080503;
  color: #8e673e;
}
footer ul {
  list-style: none;
  text-align: center;
}
footer ul li {
  display: inline-block;
  padding: 0 10px;
}
footer ul li a {
  color: #8e673e;
  font-size: 1.2em;
  line-height: 1.5em;
}
footer p {
  margin-top: 1em;
  text-align: center;
  font-size: 1em;
  color: rgba(233, 205, 176, 0.5);
}

.grid {
  display: grid;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

section {
  min-height: 50vh;
  width: 100%;
  padding: 6em 0;
  display: flex;
  align-items: center;
  text-align: center;
}
section h1 {
  padding-bottom: 0.5em;
  font-family: immortal;
  font-size: 3em;
  color: #080503;
  letter-spacing: 0.1em;
}
section h2 {
  font-family: immortal;
  font-size: 2em;
  letter-spacing: 0.05em;
  padding-bottom: 0.2em;
}
section p {
  font-family: sans-serif;
  letter-spacing: 0.05em;
  font-size: 1.5em;
  color: #080503;
  line-height: 1.5em;
}

section:nth-of-type(1) {
  background-image: linear-gradient(to right bottom, #8e673e, #e9cdb0 85%);
}

section:nth-of-type(2) {
  background-color: #e9cdb0;
}

section:nth-of-type(3) {
  background-image: linear-gradient(to right bottom, #e9cdb0 15%, #8e673e);
}

#appearances .grid {
  grid-template-columns: 1fr 1fr;
}
#appearances .grid h1 {
  grid-column: 1/3;
}
#appearances .grid .item p {
  text-align: left;
  margin-left: 30%;
}
#appearances .grid .item h2 {
  text-align: left;
  margin-left: 30%;
  color: #8e673e;
}

#life .nav {
  font-family: immortal;
  width: 60%;
  margin: 0 auto;
}
#life .nav ul {
  display: flex;
  justify-content: space-around;
}
#life .nav ul li {
  display: inline-block;
  list-style: none;
  justify-self: space-around;
  border-top: 1px solid #8e673e;
  border-bottom: 1px solid #8e673e;
  padding: 0.5em 1em;
}
#life .nav ul li a {
  padding: 0.5em 1em;
  font-size: 1.5em;
  color: #080503;
  padding: inherit;
}
#life .nav ul li a:hover {
  color: #8e673e;
}
#life h2 {
  padding-top: 1.5em;
  color: #8e673e;
}
#life #early, #life #war, #life #after {
  scroll-margin-top: 5em;
}

@media (max-width: 910px) {
  .content {
    padding: 0 2em;
  }

  section {
    padding: 3em 0;
  }
  section h1 {
    font-size: 2em;
  }
  section h2 {
    font-size: 1.6em;
  }
  section p {
    font-size: 1.2em;
    line-height: 1em;
  }

  #appearances .grid {
    grid-template-columns: 1fr;
  }
  #appearances .grid h1 {
    grid-column: 1/2;
  }
  #appearances .grid .item h2 {
    padding-top: 1.5em;
    margin-left: 0;
  }
  #appearances .grid .item p {
    margin-left: 0.5em;
  }

  #life .nav {
    width: 100%;
  }
  #life #early, #life #war, #life #after {
    scroll-margin-top: 0.5em;
  }
}
@media (max-width: 678px) {
  #life .nav ul {
    flex-direction: column;
  }
  #life .nav ul li {
    border-top: 1px solid #8e673e;
    border-bottom: none;
  }
  #life .nav ul li:last-child {
    border-bottom: 1px solid #8e673e;
  }
}
